// colors
$primary-color: #fff9e7;
$secondary-color: #fff;
$perfect-black: #222;

body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    color: $perfect-black;
    background-color: $primary-color;
}
.RecipeSearch {
    background: url(./Images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0, 0;
    height: 300px;
    display: flex;
    justify-content: center;
}
.search {
  position: relative;
  color: #aaa;
  font-size: 2rem;
  transform: translateY(40%);
}
.search input {
  width: 350px;
  height: 60px;
  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
  font-size: 1.5rem;
}
.search input { text-indent: 55px;}
.search .fa-search { 
  position: absolute;
  top: 15px;
  left: 15px;
}